[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0913, # too-many-arguments
    R0914, # too-many-locals
    W0511, # fixme
    W0718, # broad-exception-caught
    E1121, # too-many-function-args
    R0901, # too-many-ancestors
    R0903, # too-few-public-methods


